@charset "utf-8";
/* CSS Document */
p
    {position:relative;
    left:42%;
    top:20%;
    }
        
table
	{border-collapse:collapse;
	 position:relative;
	 left:38%;
	 top:30%;
	 
	}
	
tr
    {height:80px   
    }


td
    {width:80px;
    border:thin solid black;
	text-align:center
    }

button
    {width:80px;
    height:80px
    }