@charset "utf-8";
/* CSS Document */
p
    {position:relative;
    left:42%;
    top:20%;
    }
        
table
	{border-collapse:collapse;
	 position:relative;
	 left:37%;
	 top:29%;
	 
	}
	
tr
    {height:90px   
    }


td
    {width:90px;
    border:thin solid black;
	text-align:center
    }

button
    {width:90px;
    height:90px
    }